@import "../../styles/variables.scss";

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: none;
  border-radius: 0.75rem;

  &:disabled {
    background-color: dimgrey;
    color: linen;
    cursor: not-allowed;
  }
}

.btnForm {
  width: 15rem;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  font-weight: 200;
}

.btnSubmit {
  color: $main-color;
  background-color: $aqua-bg;
}
.btnCancel {
  color: $main-color;
  background-color: $red-bg;
}

.logout__exitBtn {
  width: 60px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-weight: 300;
  color: $main-bg;
  transition: var(--all);
  scale: 1;

  &:hover {
    color: #ffffff;
    background: $main-accent;
    scale: 1.1;
  }

  &:active {
    scale: 0.9;
  }
}
