@import "../../styles/variables.scss";

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border: none;
  border-radius: 0.75rem;
  font-weight: 200;
  height: 2.5rem;

  // &:hover {
  //   scale: 1.2;
  // }
}

.btnSubmit {
  color: $main-color;
  background-color: $green-bg;
}
.btnCancel {
  color: $main-color;
  background-color: $red-bg;
}

// @media (hover: hover) {
//   .btnSubmit:hover {
//     transition: all 500ms ease-in-out;
//   }
//   .btnCancel {
//     color: $main-color;
//     background-color: $red-bg;
//   }
// }
