//BG
$main-bg: #2a3447;
$soft-bg: #3a5b9e;
$dark-bg: #222b3c;
$aqua-bg: #8ae0d1;
$red-bg: #b01628;
$main-accent: #ffa500;

$linear-dark: linear-gradient(180deg, #0c0c1d, #111132);
//TEXT
$main-color: #ffffff;
$soft-color: #dddddd;
$dark-color: #2a3447;

//TRANSFORM
$all-300: all 300ms ease-in-out;
