//BG
$main-bg: #2a3447;
$soft-bg: #3a5b9e;
$dark-bg: #222b3c;
$aqua-bg: rgb(138,224,209);
$red-bg: rgb(176,22,40);
$main-accent: #ffa500;

$linear-dark: linear-gradient(180deg, #0c0c1d, #111132);
//TEXT
$main-color: #ffffff;
$soft-color: #dddddd;
$dark-color: #2a3447;
