.layout {
  width: 100vw;
  height: 100dvh;

  .container {
    width: 100%;
    height: calc(100% - 6rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #0c0c1d;
    color: #ffffff;
  }
}
