@import "../../styles//variables.scss";

.scene {
  perspective: 600px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 10rem;
  padding: 1rem;
  border: 2px solid $main-color;
  border-radius: 1.5rem;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform 1s;

  &.is-flipped {
    transform: translateX(0%) rotateY(-180deg);
  }

  .card__face {
    position: absolute;
    backface-visibility: hidden;
    width: 20rem;
    height: 10rem;
    padding: 1rem;
    text-align: center;
    border-radius: 1.5rem;
  }
  .card__face--back {
    transform: rotateY(180deg);
  }

  .card__face--front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
