@import "../../styles/variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 0 1rem;
  height: 3rem;
  background-color: $soft-bg;
  color: $main-color;

  .burger {
    position: relative;
    background-color: transparent;
    color: $dark-color;

    .burger__menu {
      z-index: 99;
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100vh;
      clip-path: circle(30rem at 50% 0);
      background: $light-bg;
      transition: $all-300;

      &--open {
        top: 0;
      }

      .links {
        position: absolute;
        width: 100%;
        height: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        a {
          font-size: 1.5rem;

          // @include md {
          // }
        }
      }
    }

    .burger__btn {
      z-index: 100;
      position: relative;
      width: 2.5rem;
      height: 2.5rem;
      color: $main-accent;
      background-color: transparent;
      background-color: $soft-bg;
      border-radius: 50%;
      cursor: pointer;

      svg {
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    .logout {
      position: relative;
      display: flex;

      &__modalOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: #000000cc;
        z-index: 5;
      }

      &__modal {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        width: 15rem;
        height: 12rem;
        color: $dark-color;
        background: $light-bg;
        border-radius: 0.8rem;
      }
    }

    &--avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 50%;
      object-fit: cover;

      img,
      svg {
        width: 100%;
        height: 100%;
      }
    }

    &--name {
      span {
        color: $dark-color;
        margin-left: 0.5rem;
        padding: 0.3rem;
        border-radius: 0.3rem;
        background: $light-bg;
      }
    }

    &--settings {
      svg {
        width: 1.8rem;
        height: 1.8rem;
        fill: $main-accent;

        transition: $all-300;
        scale: 1;

        &:hover {
          transform: rotateZ(180deg);
          scale: 1.2;
        }
      }
    }
  }
}
